mixin product-card-opt(data)
    a(href='#').product-card&attributes(attributes)
        .product-card-swiper-wrapper 
            .product-card-features 
                if data.badgeTitle
                    .badge(class=data.badgeClass) #{data.badgeTitle}
                .features-list 
                    button.btn
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 25.4666V1.99997" stroke="#333435" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.59844 25.4663L18.3984 25.4663" stroke="#333435" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3 4.19997L25 4.19997" stroke="#333435" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M17.5046 14.207L21.5 5.22967L25.4954 14.2069C25.4512 14.6687 25.0906 15.2138 24.3836 15.6797C23.6457 16.1659 22.6169 16.5 21.5 16.5C20.3705 16.5 19.3421 16.1655 18.6081 15.6801C17.9056 15.2155 17.5483 14.6705 17.5046 14.207Z" stroke="#333435"/>
                            <path d="M2.50458 14.207L6.5 5.22967L10.4954 14.2069C10.4512 14.6687 10.0906 15.2138 9.38362 15.6797C8.64572 16.1659 7.61691 16.5 6.5 16.5C5.37047 16.5 4.34212 16.1655 3.60814 15.6801C2.90558 15.2155 2.54827 14.6705 2.50458 14.207Z" stroke="#333435"/>
                        </svg>
                    button.btn
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.73738 5.74745C1.41975 8.07668 1.422 11.8248 3.73738 14.1563L13.9938 24.488C17.4165 21.048 20.8395 17.6079 24.2618 14.1678C26.5794 11.8386 26.5794 8.08839 24.2618 5.75895C21.9441 3.4295 18.2126 3.42971 15.8952 5.75895L14.0055 7.65804L12.104 5.74693C9.78635 3.41769 6.05486 3.41769 3.73743 5.74693L3.73738 5.74745Z" stroke="#333435"/>
                        </svg>
            .product-swiper
                .swiper-wrapper 
                    each img,index in data.imgs
                        .swiper-slide 
                            img(load='lazy' src=img, alt="product")
                .lines 
            .hidden-content 
                button.btn.outline-fill.violet.m быстрый просмотр
                .pagination
        .product-info 
            .main-info
                .top 
                    .left-block 
                        p #{data.art}
                        if data.barcode
                            p #{data.barcode}
                    .right-block 
                        if data.count === 'many'
                            p.count.many #{data.numberCount}
                        else 
                            p.count.few #{data.numberCount}

                        if data.presale 
                           p.count.presale Предзаказ
                .bottom 
                    .price-wrapper 
                        p.price #{data.price}
                        p.oldPrice #{data.oldPrice}
                    p.descr #{data.descr}
            if data.presale
                .presale 
                    .selector.tabs-selector.product-card-opt-selector
                        button(type='button').selector-btn
                            .selector-title
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                    <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                    <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                    <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                                </svg>
                                .text-content
                                    input(type="radio" name="cart" )
                                    p Предзаказ
                            .icon
                                <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L10 11L19 1" stroke="#333435"/>
                                </svg>
                        .selector-content
                            .selector-list
                                label.radio-item
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                    <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                    <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                    <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                                    </svg>
                                    input(type='radio' name="cart" value="Основная")
                                    p Предзаказ
                                label.radio-item
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                    <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                    <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                    <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                                    </svg>
                                    input(type='radio' name="cart" value="Предзаказ")
                                    p Основная
                    .checkbox-wrapper 
                        input(type="checkbox" value="Предзаказ").checkbox#checkbox-11
                        label(for="checkbox-11").ios-switch Предзаказ
                .cart-btn-wrapper 
                    .counter
                        button.btn.clear.dec
                            <svg width="15" height="1" viewBox="0 0 15 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 0.5H14.5" stroke="#333435"/>
                            </svg>
                        .current-count 1
                        button.btn.clear.inc 
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.506836 7.5H14.5068" stroke="#333435"/>
                                <path d="M7.50684 14.5L7.50684 0.5" stroke="#333435"/>
                            </svg>
                    button.btn.primary.m.cart-btn.violet 
                        p в предзаказ
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
            else 
                .selector.tabs-selector.product-card-opt-selector
                    button(type='button').selector-btn
                        .selector-title
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                            </svg>
                            .text-content
                                input(type="radio" name="cart" )
                                p Основная
                        .icon
                            <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L10 11L19 1" stroke="#333435"/>
                            </svg>
                    .selector-content
                        .selector-list
                            label.radio-item
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                                </svg>
                                input(type='radio' name="cart" value="Основная")
                                p Основная
                            label.radio-item
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                                </svg>
                                input(type='radio' name="cart" value="Предзаказ")
                                p Предзаказ
                .cart-btn-wrapper 
                    .counter
                        button.btn.clear.dec
                            <svg width="15" height="1" viewBox="0 0 15 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 0.5H14.5" stroke="#333435"/>
                            </svg>
                        .current-count 1
                        button.btn.clear.inc 
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.506836 7.5H14.5068" stroke="#333435"/>
                                <path d="M7.50684 14.5L7.50684 0.5" stroke="#333435"/>
                            </svg>
                    button.btn.primary.m.cart-btn 
                        p в корзину
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 13L7 7L0.999999 1" stroke="white" stroke-linecap="square" stroke-linejoin="round"/>
                        </svg>
        .product-info-hor 
            .left-side 
                .top 
                    span Арт 68012
                    span штрихкод 4606008612533
                p.descr #{data.descr}
                .info 
                    p Дизайн:&nbsp; 
                        span Киберпанк
                    p Формат:&nbsp; 
                        span А4
                    p Плотность бумаги: 
                        span 80 +- 3 г/м2
                    p Кол-во листов:&nbsp; 
                        span 500
                    p Класс бумаги:&nbsp; 
                        span Сэ
                    p Белизна CIE:&nbsp;
                        span нет
            .right-side
                if data.count === 'many'
                    p.count.many #{data.numberCount}
                else 
                    p.count.few #{data.numberCount}
                .price-wrapper 
                    p.price #{data.price}
                    p.oldPrice #{data.oldPrice}
                .counter
                    button.btn.clear.dec
                        <svg width="15" height="1" viewBox="0 0 15 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 0.5H14.5" stroke="#333435"/>
                        </svg>
                    .current-count 1
                    button.btn.clear.inc 
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.506836 7.5H14.5068" stroke="#333435"/>
                            <path d="M7.50684 14.5L7.50684 0.5" stroke="#333435"/>
                        </svg>
                if data.presale
                    button.btn.primary.m.cart-btn.violet 
                        p в предзаказ
                    .presale 
                        .selector.tabs-selector.product-card-opt-selector
                            button(type='button').selector-btn
                                .selector-title
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                        <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                        <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                        <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                                    </svg>
                                    .text-content
                                        input(type="radio" name="cart" )
                                        p Предзаказ
                                .icon
                                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L10 11L19 1" stroke="#333435"/>
                                    </svg>
                            .selector-content
                                .selector-list
                                    label.radio-item
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                        <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                        <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                        <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                                        </svg>
                                        input(type='radio' name="cart" value="Основная")
                                        p Предзаказ
                                    label.radio-item
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                        <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                        <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                        <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                                        </svg>
                                        input(type='radio' name="cart" value="Предзаказ")
                                        p Основная
                        .checkbox-wrapper 
                            input(type="checkbox" value="Предзаказ").checkbox#checkbox-10
                            label(for="checkbox-10").ios-switch Предзаказ
                else 
                    button.btn.primary.m.cart-btn 
                        p в корзину
                    .selector.tabs-selector.product-card-opt-selector
                        button(type='button').selector-btn
                            .selector-title
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                    <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                    <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                    <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                                </svg>
                                .text-content
                                    input(type="radio" name="cart" )
                                    p Основная
                            .icon
                                <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L10 11L19 1" stroke="#333435"/>
                                </svg>
                        .selector-content
                            .selector-list
                                label.radio-item
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                    <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                    <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                    <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                                    </svg>
                                    input(type='radio' name="cart" value="Основная")
                                    p Основная
                                label.radio-item
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.4287 15.5L13.8486 3.73727H2.15137L0.571289 15.5H15.4287Z" fill="white" stroke="#333435"/>
                                    <path d="M4.74414 3.95697C4.74414 3.50022 4.83051 3.04838 4.99787 2.62743C5.16522 2.20651 5.41 1.82534 5.71727 1.5052C6.02451 1.18511 6.38814 0.932338 6.78683 0.760283C7.18546 0.58825 7.61196 0.5 8.04214 0.5C8.47233 0.5 8.89882 0.58825 9.29746 0.760282C9.69615 0.932338 10.0598 1.18511 10.367 1.5052C10.6743 1.82534 10.9191 2.20651 11.0864 2.62743C11.2538 3.04838 11.3401 3.50022 11.3401 3.95697" stroke="#333435"/>
                                    <path d="M11.5176 3.74188L11.5176 6.19349" stroke="#333435"/>
                                    <path d="M4.58008 3.70004L4.58008 6.15165" stroke="#333435"/>
                                    </svg>
                                    input(type='radio' name="cart" value="Предзаказ")
                                    p Предзаказ